.idea/
.vscode/

output/
out/
build/

venv
.venv

**/src/**/*
!**/.gitkeep


.ipynb_checkpoints

__init__.py
**/test_*.py


cmake-build-debug
*.exe
a.out

META-INF
*.class
a.jar

_testcases/*

.gradle

__pycache__

*.pyc

target

state.yml
config.yml